Options -Indexes

# Blokker tilgang til skjulte filer (.htaccess, .env, osv.)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase /

  # return 403 for config and firmware folder access
  RewriteRule ^config/ - [F,L]
  RewriteRule ^firmware/ - [F,L]

  # Redirect to the public folder
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

  # Redirect to HTTPS
  # RewriteEngine On
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
