name: Pico firmware deployment

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  contents: write

env:
  PHP_FW_VERSION_FILE: server/config/fw_version.php
  PICO_FW_VERSION_FILE: pico/src/version.py

jobs:
  fw-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine diff base
        id: diffbase
        run: |
          set -e

          if [ "${{ github.event_name }}" = "pull_request" ]; then
            BASE_SHA="${{ github.event.pull_request.base.sha }}"
            git fetch origin $BASE_SHA
            echo "base=$BASE_SHA" >> $GITHUB_OUTPUT
          else
            echo "base=HEAD~1" >> $GITHUB_OUTPUT
          fi

      - name: Detect pico changes
        id: pico
        run: |
          set -e
          echo "Diff base: ${{ steps.diffbase.outputs.base }}"

          if git diff --name-only \
            ${{ steps.diffbase.outputs.base }} HEAD \
            | grep '^pico/'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Read firmware version
        if: steps.pico.outputs.changed == 'true'
        run: |
          set -e
          VERSION=$(cat fw_version.txt)
          echo "FW_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Validate fw_version.txt bump
        if: steps.pico.outputs.changed == 'true'
        run: |
          # simply check that no tag called "picofw_v$FW_VERSION" exists yet
          set -e
          TAG="picofw_v$FW_VERSION"
          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "Error: Tag $TAG already exists. Please bump fw_version.txt."
            exit 1
          fi
      - name: Making sure pico/CHANGELOG.md is up to date
        run: |
          set -e
          # Check if pico/CHANGELOG.md has header starting
          # with ## ${FW_VERSION} (followed by a space)
          expected="## $FW_VERSION "
          if [ -z $(grep -le "$expected" pico/CHANGELOG.md) ]
          then
            # Make error text red
            echo -e "\033[0;31mpico/CHANGELOG.md must be updated\033[0m"
            exit 1
          fi

      - name: Generate version files
        # on changed AND only for PRs (to avoid race conditions on main pushes)
        if: (
            steps.pico.outputs.changed == 'true'
            && github.event_name == 'pull_request'
          )
        run: |
          set -e

          cat > $PICO_FW_VERSION_FILE <<EOF
          # AUTOGENERATED – DO NOT EDIT
          FW_VERSION = "$FW_VERSION"
          EOF

          cat > $PHP_FW_VERSION_FILE <<EOF
          <?php
          // AUTOGENERATED – DO NOT EDIT
          define('FW_VERSION', '$FW_VERSION');
          EOF

      - name: Commit generated files
        if: (
            steps.pico.outputs.changed == 'true'
            && github.event_name == 'pull_request'
          )
        run: |
          set -e

          git config user.name "github-actions[bot]"
          git config user.email \
            "github-actions[bot]@users.noreply.github.com"

          git checkout "${GITHUB_HEAD_REF}"

          git add $PICO_FW_VERSION_FILE \
                  $PHP_FW_VERSION_FILE

          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 1 # fail the step, this should not happen
          fi

          git commit -m \
            "chore(picofw): sync firmware version ${FW_VERSION}"

          git push

      - name: Tag firmware on main
        if: |
          github.event_name == 'push' &&
          steps.pico.outputs.changed == 'true'
        run: |
          set -e
          TAG="picofw_v$FW_VERSION"
          git tag "$TAG"
          git push origin "$TAG"
