name: Deploy Android App

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Read version from gradle.kts
        id: version
        run: |
          cd mobile/android
          vn=$(grep -oP \
          'versionName\s*=\s*"\K[^"]+' app/build.gradle.kts)
          vc=$(grep -oP \
          'versionCode\s*=\s*\K\d+' app/build.gradle.kts)
          echo "versionName=$vn" >> $GITHUB_OUTPUT
          echo "versionCode=$vc" >> $GITHUB_OUTPUT


      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"

      - name: Check if tag exists
        run: |
          vn=${{ steps.version.outputs.versionName }}
          if git tag --list | grep -q "v$vn"; then
            echo "Tag v$vn exists"
            exit 1
          fi

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"

      - name: Create google-services.json
        run: |
          mkdir -p mobile/android/app
          echo "${{ secrets.GOOGLE_SERVICES_JSON_B64 }}" \
          | base64 --decode \
          > mobile/android/app/google-services.json

      - name: Build AAB and apk files
        env:
              ORG_GRADLE_JAVA_HOME: ${{ env.JAVA_HOME }}
        run: |
          cd mobile/android
          chmod +x ./gradlew
          ./gradlew assembleRelease
          # ./gradlew bundleRelease

      - name: Recursively list build outputs
        run: |
          cd mobile/android/app/build/outputs
          find . -type f


      - name: Create and push tag
        run: |
          vn=${{ steps.version.outputs.versionName }}
          # Use myself as the committer for the tag
          git config user.name "Jonas F. Henriksen"
          git config user.email "jonas.f.henriksen@gmail.com"
          git tag "v$vn"
          git push origin "v$vn"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v${{ steps.version.outputs.versionName }}"
          name: "v${{ steps.version.outputs.versionName }}"
          body: "Release v${{ steps.version.outputs.versionName }}"
          files: |
            mobile/android/app/build/outputs/apk/release/app-release-unsigned.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#       - name: Install fastlane
#         run: gem install fastlane
#       - name: Prepare service account key
#         run: |
#           echo '${{ secrets.PLAY_SERVICE_ACCOUNT }}' \
#           > service.json

#       - name: Upload to Google Play
#         run: |
#           fastlane supply \
#           --json_key service.json \
#           --package_name com.dittpakkenavn.app \
#           --aab app/build/outputs/bundle/release/\
# app-release.aab \
#           --track production
