name: Deploy Android App

on:
  workflow_dispatch:

permissions:
  contents: write

env:
  BUILD_OUTPUT: mobile/android/app/build/outputs/apk/release

jobs:
  release:
    name: Build and Deploy Android App
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Read version from gradle.kts
        id: version
        run: |
          cd mobile/android
          vn=$(grep -oP \
          'versionName\s*=\s*"\K[^"]+' app/build.gradle.kts)
          vc=$(grep -oP \
          'versionCode\s*=\s*\K\d+' app/build.gradle.kts)
          echo "versionName=$vn" >> $GITHUB_OUTPUT
          echo "versionCode=$vc" >> $GITHUB_OUTPUT


      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"

      - name: Check if tags exists
        run: |
          vn=${{ steps.version.outputs.versionName }}
          if git tag --list | grep -e "^v$vn$"; then
            echo "Tag v$vn exists"
            exit 1
          fi
          vc=${{ steps.version.outputs.versionCode }}
          if git tag --list | grep -e "^version_code_$vc$"; then
            echo "Tag version_code_$vc exists"
            exit 1
          fi

      - name: >
          Verify CHANGELOG.md has Ver. ${{ steps.version.outputs.versionName }}
        run: |
          cd mobile/android
          vn="${{ steps.version.outputs.versionName }}"
          if ! grep -e "##.* \+$vn \+.*" CHANGELOG.md; then
            echo "CHANGELOG.md does not contain entry for version $vn"
            exit 1
          fi

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"

      - name: Create google-services.json
        run: |
          mkdir -p mobile/android/app
          echo "${{ secrets.GOOGLE_SERVICES_JSON_B64 }}" \
          | base64 --decode \
          > mobile/android/app/google-services.json

      - name: Restore Android signing keystore
        id: keystore
        run: |
          mkdir -p mobile/android/keystore
          ST_PATH=mobile/android/keystore/release.keystore
          echo "${{ secrets.ANDROID_KEYSTORE_B64 }}" | base64 --decode > $ST_PATH
          ls -l $ST_PATH
          echo "keystore=$ST_PATH" >> $GITHUB_OUTPUT

      # Locate the apksigner took in the JDK
      - name: make sure ANDROID_SDK_ROOT is set
        run: |
          if [ -z "$ANDROID_SDK_ROOT" ]; then
            echo "ANDROID_SDK_ROOT is not set"
            exit 1
          else
            echo "ANDROID_SDK_ROOT is set to $ANDROID_SDK_ROOT"
          fi

      - name: Locate apksigner
        id: apksigner
        run: |
          APKSIGNER_PATH=$(ls $ANDROID_SDK_ROOT/build-tools/*/apksigner | sort | tail -n 1)
          echo "Located apksigner at $APKSIGNER_PATH"
          echo "apksigner=$APKSIGNER_PATH" >> $GITHUB_OUTPUT

      - name: Locate zipalign
        id: zipalign
        run: |
          ZIPALIGN_PATH=$(ls $ANDROID_SDK_ROOT/build-tools/*/zipalign | sort | tail -n 1)
          echo "Located zipalign at $ZIPALIGN_PATH"
          echo "zipalign=$ZIPALIGN_PATH" >> $GITHUB_OUTPUT


      - name: Build AAB and apk files
        env:
          ORG_GRADLE_JAVA_HOME: ${{ env.JAVA_HOME }}
        run: |
          cd mobile/android
          chmod +x ./gradlew
          ./gradlew assembleRelease
          # ./gradlew bundleRelease

      - name: Align release APK
        run: |
          APK_UNALIGNED=${{ env.BUILD_OUTPUT }}/app-release-unsigned.apk
          APK_ALIGNED=${{ env.BUILD_OUTPUT }}/app-release-unsigned-aligned.apk

          ${{ steps.zipalign.outputs.zipalign }} -v -p 4 \
            "$APK_UNALIGNED" \
            "$APK_ALIGNED"

      - name: Sign release APK
        run: |
          APK_ALIGNED=${{ env.BUILD_OUTPUT }}/app-release-unsigned-aligned.apk
          APK_SIGNED=${{ env.BUILD_OUTPUT }}/app-release.apk

          ${{ steps.apksigner.outputs.apksigner }} sign \
            --ks ${{ steps.keystore.outputs.keystore }} \
            --ks-key-alias "${{ vars.ANDROID_KEY_ALIAS }}" \
            --ks-pass pass:"${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" \
            --out $APK_SIGNED \
            "$APK_ALIGNED"

          ${{ steps.apksigner.outputs.apksigner }} verify $APK_SIGNED

      - name: Rename APK picobell version
        id: apk-release
        run: |
          vn=${{ steps.version.outputs.versionName }}
          mv ${{ env.BUILD_OUTPUT }}/app-release.apk \
            ${{ env.BUILD_OUTPUT }}/picobell-v$vn.apk
          echo "apk-release=${{ env.BUILD_OUTPUT }}/picobell-v$vn.apk" >> $GITHUB_OUTPUT

      - name: Recursively list build outputs
        run: |
          cd mobile/android/app/build/outputs
          find . -type f

      - name: Create and push tag
        run: |
          vn=${{ steps.version.outputs.versionName }}
          vc=${{ steps.version.outputs.versionCode }}
          vctag="version_code_$vc"
          # Use myself as the committer for the tag
          git config user.name "Jonas F. Henriksen"
          git config user.email "jonas.f.henriksen@gmail.com"
          git tag "v$vn"
          git push origin "v$vn"
          git tag "$vctag"
          git push origin "$vctag"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v${{ steps.version.outputs.versionName }}"
          name: "v${{ steps.version.outputs.versionName }}"
          body_path: ${{ github.workspace }}/mobile/android/CHANGELOG.md
          files: |
            ${{ steps.apk-release.outputs.apk-release }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#       - name: Install fastlane
#         run: gem install fastlane
#       - name: Prepare service account key
#         run: |
#           echo '${{ secrets.PLAY_SERVICE_ACCOUNT }}' \
#           > service.json

#       - name: Upload to Google Play
#         run: |
#           fastlane supply \
#           --json_key service.json \
#           --package_name com.dittpakkenavn.app \
#           --aab app/build/outputs/bundle/release/\
# app-release.aab \
#           --track production
